// globals \\
@import "global/variables";
@import "global/functions";
@import "global/mixins";
@import "global/global";
@import "global/classes";
@import "global/animations";
// swiper custom styles
@import "global/swiper";

// pages \\
// empty page
@import "pages/empty-page";

// login-or-signup page
@import "pages/login-or-signup-page";

// home page
@import "pages/homepage/e-commerce-home-page";
@import "pages/homepage/home-page-products-slider";

// dashboard
@import "pages/dashboard/dashboard-home-page";
@import "pages/dashboard/home-page-settings";

// orders page
@import "pages/orders-page";
@import "components/order-card"; // => component

// products pages
@import "pages/products/products-page";
@import "pages/products/product-form-page";
@import "pages/products/single-product-page";

// categories and brands
@import "pages/categories-and-brands-page";

// profile page
@import "pages/profile-page";

// cart and wishlist page
@import "pages/cart-and-wishlist-pages";
// cart page
@import "pages/cart-page";
// wishlist page
@import "pages/wishlist-page";

// payments
// success of failed payment page
@import "pages/payments/success-or-failed-payment";
// donate
@import "pages/payments/donate/donate-page";
@import "pages/payments/donate/donate-card"; // => component

// layouts \\

// app header
@import "components/layout/header/header";

// sidebar wrapper
@import "components/layout/sidebar-wrapper";

// app sidebar
@import "components/layout/header/app-sider-bar";
@import "components/layout/header/main-btns-list";

// app footer
@import "components/layout/app-footer";

// components \\

// category and card card
@import "components/category-or-brand-card";

// insight wrapper
@import "components/insight-wrapper";

// yellow warning paragraph
@import "components/warning";
// top msg
@import "components/top-msg";
// icons switcher
@import "components/icons-switcher";

// grid list
@import "components/layout/grid-list";

// fill icon element
@import "./components/fill-icon";

// modal
@import "components/app-modal";

// forms
@import "components/form/app-form";
@import "components/form/form-list";

// app lists wrapper
@import "components/list-wrapper";

// selct list
@import "./components/selectList/select-list";
@import "./components//selectList/arrow";

// tabs list
@import "./components/tabs-list";

// spinners
@import "./components/spinners/spinner";
@import "components/spinners/splash-screen";

// product card
@import "components/product-card";

// go to home btn
@import "components/go-to-home-btn";

// pagination component
@import "components/pagination";
