// global classes

.container {
  padding-inline: 15px;
  margin-inline: auto;
  width: 100%;

  /* Small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* Medium */
  @media (min-width: 992px) {
    width: 980px;
  }
  /* Large */
  @media (min-width: 1200px) {
    width: 1180px;
  }
}

// component classes

.head-holder {
  @include flex(space-between, center);
}

a.btn,
.btn,
.red-btn,
.green-btn {
  cursor: pointer;
  user-select: none;
  transition: 0.3s;

  padding: 7px 10px;
  border-radius: 3px;
  color: #fff !important;

  &:is([disabled], [data-disabled="true"]) {
    background: #999 !important;
    cursor: not-allowed;

    &:hover {
      background: #888 !important;
    }

    &:active {
      pointer-events: none;
    }
  }
}

$btns: (
  "btn": (
    "back": var(--main),
    "hover-back": var(--dark),
    "active-back": var(--light),
  ),
  "red-btn": (
    "back": var(--danger),
    "hover-back": rgb(126, 6, 6),
    "active-back": var(--white-danger),
  ),
  "green-btn": (
    "back": rgb(3, 173, 3),
    "hover-back": darken(rgb(3, 173, 3), 15%),
    "active-back": lighten(rgb(3, 173, 3), 15%),
  ),
);
@each $name, $props in $btns {
  .#{$name} {
    background: map-get($props, "back");

    &:not([disabled]) {
      &:hover {
        background: map-get($props, "hover-back");
      }

      &:active {
        background: map-get($props, "active-back");
      }
    }
  }
}

.overlay {
  z-index: calc(var(--header-index) - 1);
  background: rgba(#2b2a2a, 0.85);
  position: fixed;
  inset: 0;

  &:not(.no-animation) {
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

// helper classes
.sec-mt {
  margin-top: 25px;
}

// styling calsses

$status: (
  waiting: rgb(175, 144, 3),
  done: rgb(5, 223, 5),
  cancel: var(--danger),
);

@each $stat, $clr in $status {
  .#{$stat} {
    font-weight: 700;
    color: $clr;
  }
}

.rows-list .prop-cell-value-as-btn {
  flex: 1;
  color: #052d60 !important;
}

.prop-cell-holder {
  @include flex(flex-start, center, 10px);
  flex-wrap: wrap;
}
strong.prop-cell-name {
  color: var(--dark);
  text-transform: capitalize;

  + .prop-cell-value {
    flex: 1;
    min-width: fit-content;
    max-width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.danger-zone {
  @include cardBorder(null, 2px, null, var(--danger));
  padding: 20px 10px;
  color: rgb(209 16 16);
  background: rgb(255 13 13 / 6%);
  margin-top: auto;

  &-title {
    font-size: 25px;
    line-height: 30px;

    @media (max-width: 300px) {
      font-size: 19px;
    }
  }

  &-content {
    margin: 5px 0 10px;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &-btn {
    margin-inline: auto;
    display: block;
  }
}
.btn-with-spinner {
  @include flex(center, center, 5px);
}

.sec-heading {
  margin-bottom: 17px;
  text-align: center;
  color: var(--main);
  position: relative;
  width: fit-content;
  user-select: none;
  text-transform: capitalize;
  font-size: 27px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    height: 3px;
    width: 80%;
    background: currentColor;
  }
}

.align-content {
  display: grid;
  place-content: center;
}

.add-product-to-cart-btn {
  overflow: hidden;

  &-content-holder {
    @include flex(center, center, 7px);
  }
}
