.list-wrapper .select-list-selected-opt {
  color: var(--main);
}

.select-list {
  &-opt {
    width: 100%;

    button {
      text-align-last: left;
      padding: 5px 7px;
      width: 100%;

      &[data-selected="true"] {
        background: var(--dark);
        color: #fff;

        &:hover {
          background: var(--main);
        }
      }

      &:hover:not([data-selected="true"]) {
        background: var(--trans);
      }
    }
  }
}
