.cart-or-wishlist-down-holder {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  border-top: var(--brdr);

  .cart-or-wishlist-btns {
    display: flex;
    flex: 1;
    align-items: flex-end;
    gap: 15px;
    min-width: fit-content;

    > * {
      flex: 1;
      min-width: fit-content;
    }

    @media (max-width: 275px) {
      flex-direction: column;
      justify-content: flex-end;
      > * {
        width: 100%;
        flex: unset;
      }
    }
  }
}
