.cart-or-wishlist-btns {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: 15px;
  min-width: fit-content;
  flex-wrap: wrap;

  > * {
    flex: 1;
    min-width: fit-content;
    @include flex(center, center, 10px);

    svg {
      font-size: 20px;
    }
  }

  @media (max-width: 275px) {
    justify-content: flex-end;
    > * {
      width: 100%;
      flex: unset;
    }
  }
}
