%cart-and-wishlist-pages-down-btns-common-styles {
  @include flex(center, center, 10px);

  svg {
    font-size: 20px;
  }
}

.cart-and-wishlist-down-holder {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: 30px;
  position: relative;
  background: white;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--main);
  }
}

.cart-and-wishlist-pages-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
