.cart-btns {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: 15px;
  min-width: fit-content;
  flex-wrap: wrap;

  > * {
    flex: 1;
    min-width: fit-content;
    @extend %cart-and-wishlist-pages-down-btns-common-styles;
  }

  @media (max-width: 275px) {
    justify-content: flex-end;
    > * {
      width: 100%;
      flex: unset;
    }
  }
}
