.categories-or-brands-list {
  gap: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  justify-content: center;

  > li button {
    width: 100%;
  }

  @media (max-width: 200px) {
    grid-template-columns: 0.9fr;
  }
}

.category-or-brand-no-data-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  strong {
    font-size: 30px;
    text-transform: capitalize;
    color: var(--main);
  }
}
