.error-page {
  @include flex(center, center, false, column);
  color: var(--main);

  > svg {
    font-size: 156px;
  }

  p {
    max-width: 100%;
    overflow-wrap: break-word;

    font: {
      weight: 800;
      size: 29px;
    }
  }

  .btn {
    margin-top: 10px;
    @include flex(center, center, 5px);
  }
}
