.profile-page-cell {
  @include flex(space-between, center, 10px);

  + * {
    margin-top: 10px;
  }

  &-content-holder {
    flex: 1;
    @include flex(null, center, 10px);

    @media (max-width: 335px) {
      flex-direction: column;
      > * {
        width: 100%;
      }
    }
  }

  @media (max-width: 525px) {
    flex-direction: column;
    padding: 7px;
    @include cardBorder;

    > * {
      width: 100%;
    }
  }
}

.save-profile-cell-btn {
  min-width: fit-content;
}

.profile-page-donation-cell {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  margin-left: 10px;
  flex-wrap: wrap;

  .plan-name {
    color: var(--main);
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
}

.profile-cell-content {
  flex: 1;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.profile-cell-btns-holder {
  @include flex(center, center, 10px);
  flex-wrap: wrap;

  @media (max-width: 525px) {
    > * {
      width: 100%;
    }
  }
}

// specific user tabs list

.specific-user-list-loading {
  margin: 120px auto;

  @media (max-width: 325px) {
    display: none;
  }
}

.specific-user-list-small-loading {
  @include flex(center, center, 10px);
  margin-block: 20px;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: 326px) {
    display: none;
  }
}

// cart area
.no-specific-user-wishlist-holder,
.no-specific-user-orders-holder,
.no-specific-user-cart-holder {
  @include flex(center, center, 10px, column);
  height: 100%;

  svg {
    font-size: 40px;
  }

  &:not(.no-specific-user-orders-holder) svg {
    fill: var(--dark);
  }

  strong {
    color: var(--dark);
    font-size: 25px;
    text-align: center;
  }
}
