.products-page-spinner {
  flex: 1;
}

.open-filters-btn {
  width: fit-content;
  margin-bottom: 10px;
  @include flex(center, center, 5px);
}

.products-page-search-input-holder {
  position: relative;

  .icons-switcher-holder {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 2;
  }
}

.product-page-products-list {
  margin-block: 20px;
}

.updating-products-list-element {
  @include flex(center, center, 3px);
  margin-bottom: 10px;
}

.pagination-holder {
  margin-top: auto;
}

#filters-list-sidebar {
  padding: 10px;

  > * + * {
    margin-top: 10px;
  }

  .products-page-filters-list > * + * {
    margin-top: 10px;
  }

  .filters-list-top-btns-holder {
    @include flex(center, center, 10px);
    flex-wrap: wrap;

    > * {
      flex: 1;
    }
  }
}

.no-filters-resault-sidebar-toggler {
  margin-inline: auto;
  margin-top: 10px;
  @include flex(center, center, 7px);
}
