.go-to-edit-product-btn {
  margin-bottom: 10px;
  @include flex(center, center, 5px);
}

.single-product-wrapper {
  @include flex(space-between, flex-start, 10px);

  .swiper {
    width: 100%;
    flex: 1;

    &-wrapper {
      height: calc(100% - 45px);
    }

    img {
      max-width: 100%;
    }
  }

  .single-product-data {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.single-product-title {
  color: var(--main);
  font-size: 25px;
  text-align: center;
  width: fit-content;
}

.single-product-color {
  @include flex(flex-start, center, 10px);
  span:last-child {
    width: 60px;
    height: 25px;
    display: block;
    border-radius: var(--radius);
  }
}

.single-product-quantity-number {
  color: var(--dark);
  font-weight: bold;
}

.single-product-description {
  --padding: 10px;
  --brdr-width: 2px;

  position: relative;
  margin-top: 20px;
  background-color: var(--trans);
  color: var(--dark);
  font-weight: bold;
  @include cardBorder(var(--radius), var(--brdr-width));
  padding: var(--padding);

  .cell-prop-name {
    user-select: none;
    position: absolute;
    bottom: calc(100% - var(--padding) - var(--brdr-width));
    left: 0;
    background: #fff;
    @include cardBorder;
    padding-inline: 5px;
  }
}

.single-product-page-insights-list {
  margin-block: 30px;
}

.single-product-btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 30px;
  position: relative;
  margin-top: auto;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--main);
  }

  > * {
    @include flex(center, center, 10px);
    text-transform: capitalize;
    flex: 1;
    min-width: max-content;

    svg {
      font-size: 20px;
    }

    font : {
      weight: bold;
      size: 16px;
    }
  }
}
