#app-side-bar {
  .main-btns-list {
    display: none;

    @media (max-width: 565px) {
      margin-block: 15px;
      @include flex(center, center, 5px);
    }
    @media (max-width: 220px) {
      flex-direction: column;
    }

    > * {
      flex: 1;
      @include flex;

      a,
      button {
        padding: 10px;
      }

      #header-cart-icon #cart-products-length {
        top: -2%;
        right: 16%;
      }
    }
  }

  ul.app-side-bar-list {
    // sidebar item
    li {
      a,
      button {
        text-transform: capitalize;
        width: 100%;
        padding: 12px 9px;
        color: var(--main);
        @include flex(flex-start);

        .sidebar-item-arrow {
          opacity: 0;
          translate: -10px;

          &,
          ~ p {
            transition: all 0.3s, color 0.15s, translate 0.3s 70ms; // set delay "translate" property element
          }
        }
        p {
          @include flex(center, center, 6px);
        }

        &.active,
        &:hover {
          p {
            margin-left: 20px;
          }
          .sidebar-item-arrow {
            opacity: 1;
            translate: 10px;
          }

          &:not(.active) {
            background: var(--trans);
          }
        }

        &.active {
          color: #fff;
          background: var(--light);
        }
      }
    }
  }
}
