.app-header {
  position: fixed;
  z-index: var(--header-index);
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: var(--bx-shadow);
  padding: 15px 0;

  .container {
    @include flex(space-between);
  }

  @media (max-width: 565px) {
    .main-btns-list {
      display: none;
    }
  }
}

.logo-and-open-btn-holder {
  @include flex(center, center, 10px);

  #open-side-bar {
    display: grid;
  }

  .logo {
    color: var(--main);
    transition: 0.3s;
    padding: 5px;
    font : {
      size: 21px;
      weight: 800;
    }
    @include flex(center, center, 10px);
    flex-wrap: wrap;
    text-align: center;

    .logo-text-holder span {
      display: inline-block;
    }

    &:hover {
      color: var(--dark);
    }

    @media (max-width: 250px) {
      font-size: 16px;
    }
  }

  @media (max-width: 565px) {
    flex: 1;
    justify-content: space-between;

    .logo {
      order: -1;
    }
  }
}
