.form-list {
  [type="checkbox"],
  [type="radio"] {
    display: none;
  }

  [type="checkbox"]:checked ~ label svg {
    scale: 1;
    rotate: 0deg;
  }

  [type="radio"]:checked ~ label span {
    background: var(--trans);
    border-radius: 50%;

    &::after {
      scale: 1;
    }
  }

  input[disabled] ~ label {
    color: gray;
    cursor: not-allowed;

    span {
      border-color: gray;
      background: transparent !important;

      &::after {
        background: gray;
      }
    }
  }

  label {
    @include flex(flex-start, center, 7px);
    width: fit-content;
    padding: 5px;
    transition: 0.3s;
    user-select: none;

    &:hover {
      color: var(--main);
    }

    span {
      position: relative;
      pointer-events: none;
      border: 1px solid var(--main);
      display: inline-flex;
      cursor: default;
      border-radius: 3px;
      transition: 0.22s;

      svg {
        scale: 0;
        rotate: 45deg;
      }
    }
  }

  [type="radio"] ~ label span::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: var(--dark);
    transition: 0.22s;
    scale: 0;
  }
}
