.success-or-fail-icon {
  margin-inline: auto;
  font-size: 70px;
  max-width: 100%;
}

.payment-page-title {
  color: var(--main);
  text-align: center;
}

.donation-thanks-msg {
  margin-bottom: 15px;
}

.success-of-fail-payment-page-btn {
  display: flex;
  margin-inline: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;

  svg {
    font-size: 20px;
  }
}
