// app modal
.app-modal {
  z-index: 2500;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: fixed;

  &:not(.are-you-sure-modal) {
    inset: 10px;
  }

  &-cells-holder {
    background: #fff;
    border-radius: var(--radius);
    overflow-y: auto;
    padding: 15px;
    z-index: 2501;
    flex: 1;
  }

  &-cell {
    @include flex(flex-start, center, 20px);

    & + * {
      padding-top: 10px;
      border-top: var(--brdr);
      margin-top: 10px;
    }

    &-name {
      color: var(--dark);
      min-width: max-content;

      &::after {
        content: " :";
      }
    }

    &-val {
      &,
      a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      a {
        width: 100%;
      }
    }
  }

  &-btns-holder {
    border: var(--brdr);
    padding: 10px;
    margin-top: 15px;
    @include flex(center, center, 10px);
    > * {
      flex: 1;
      @include flex();
    }
  }
}

#app-modal-overlay {
  z-index: calc(var(--header-index) + 1);
}

// are you sure modal
.are-you-sure-modal {
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @media (max-width: 700px) {
    width: 95%;
  }

  .btns-holder {
    margin-top: 10px;
    @include flex(center, center, 10px);

    > * {
      flex: 1;
    }
  }

  &-accept-btn {
    @include flex(center, center, 5px);
  }
}

.modal-close-btn {
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font: {
    weight: 800;
    size: 18px;
  }
  margin-right: auto;
  aspect-ratio: 1;
}
