.slider-big-holder {
  overflow: hidden;
}

.slider-real-list {
  --img-width: 0;
  display: flex;
  gap: 10px;

  > * {
    flex-basis: 100%;
  }
}

.slider-img-holder {
  display: grid;
  place-content: center;
  transition: 0.3s;

  img {
    width: var(--img-width);
    height: var(--img-width);
    max-width: 100%;
    object-fit: contain;
  }
}

.slider-dots-holder {
  @include flex(center, center, 10px);
  padding: 5px;
  margin-top: 10px;

  > * {
    width: 13px;
    height: 13px;
    background: var(--light);
    display: block;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    &.active {
      scale: 1.25;
      background: var(--dark);
    }

    &:not(.active):hover {
      background: var(--main);
    }
  }
}
