.products-list-with-border .product-card {
  border: 2px solid var(--main);
}

.product-card {
  @include flex(space-between, null, 10px, column);
  border-radius: var(--radius);
  padding: 10px;
  transition: 0.3s;
  position: relative;

  .swiper {
    width: 100%;

    .swiper-wrapper {
      transition: 0.25s !important;

      img {
        border: 1px solid transparent;
        border-radius: var(--radius);
        transition: 0.2s;
        max-width: 100%;
      }
    }

    &:has(.swiper-pagination-bullet) .swiper-wrapper {
      height: calc(100% - 45px);
    }
  }

  .delete-product-btn {
    position: absolute;
    right: -40px;
    width: 35px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
  }

  .add-to-wishlist {
    position: absolute;
    top: -14px;
    right: -8px;
    background: var(--dark-trans);
    padding: 7px;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    @include cardBorder(var(--radius), 2px);

    svg {
      font-size: 20px;
      fill: #fff;
    }
  }

  .product-card-title,
  .product-data-big-holder .prop-cell-value:not(:has(.list-wrapper)) {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-all;
  }

  // product cart btns
  .product-card-more-info {
    margin-inline: auto;
  }

  &-btns-holder {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;

    > * {
      @include flex(center, center, 7px);
      flex-wrap: wrap;
      min-width: max-content;
      flex: 1;
      text-align: center;
    }
  }
}

@mixin product-in-columns-list {
  .product-data-big-holder {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;

    .product-card-title {
      margin-top: auto;
    }
  }
}

@mixin product-card-hover-effect {
  .product-card:hover .swiper-wrapper {
    scale: 0.9;
    border-radius: 4px;

    img {
      border-color: var(--main);
    }
  }
}

.columns-list:not(:has(.select-list-holder)) {
  @include product-card-hover-effect;
}

.rows-list:not(:has(.select-list-holder)) {
  @media (max-width: 630px) {
    @include product-card-hover-effect;
  }
}

.rows-list .product-card {
  @media (min-width: 631px) {
    grid-template-columns: var(--list-item-cell-width) calc(
        var(--list-item-cell-width) * calc(var(--cells-length) - 1) - var(--gap)
      );

    .swiper-pagination {
      display: none;
    }
    .swiper {
      pointer-events: none;
      user-select: none;
    }

    .product-data-big-holder {
      display: flex;
      gap: 5px;
      align-items: center;
      grid-column: 2 / -1;

      > * {
        flex: 1;
      }
    }

    &-btns-holder {
      flex-direction: column;

      > * {
        width: 100%;
        margin: 0;
      }
    }
  }

  @media (min-width: 631px) and (max-width: 991px) {
    .product-card-btns-holder {
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: max-content;
    }
    .product-card-more-info {
      font-size: 13px;
    }
  }

  @media (max-width: 630px) {
    @include product-in-columns-list();

    .delete-product-btn {
      position: unset;
      aspect-ratio: unset;
      padding-block: 10px;
      width: 100%;
    }
  }
}

.columns-list .product-card,
.product-card.card-mode {
  @include product-in-columns-list();
}
