.app-top-msg {
  position: fixed;
  top: 20px;
  left: 50%;
  translate: -50% -10px;
  padding: 12px 30px;
  color: #fff;
  transition: 0.3s;
  opacity: 0;
  z-index: 50000;
  border-radius: 4px;
  user-select: none;

  &.green {
    background: var(--light);
  }

  &.red {
    background: var(--danger);
  }

  &.active {
    opacity: 1;
    translate: -50% 0;
  }
}
