.dashboard-page-top-btns {
  margin-bottom: 17px;
  @include flex(null, center, 10px);

  @media (max-width: 535px) {
    flex-direction: column;

    li {
      width: 100%;
    }
  }

  button,
  a {
    text-align: center;
    width: 100%;
    @include flex(center, center, 5px);
  }
}

.dashboard-squares-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.dashboard-square {
  min-width: fit-content;
  flex: 1;
  background: var(--main);

  a {
    color: #fff;
    width: 100%;
    padding: 10px;

    &:hover {
      background: var(--dark);
    }

    .square-top {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    strong {
      margin-top: 10px;
      font-size: 30px;
      display: block;
      text-align: center;
    }
  }
}

.see-more-btn {
  width: 100%;
  text-align: center;
  margin: auto {
    top: 15px;
  }
}
