.dashboard-page-top-btns {
  margin-bottom: 17px;
  display: flex;
  gap: 10px;

  > * {
    flex: 1;
  }

  @media (max-width: 535px) {
    flex-direction: column;

    li {
      width: 100%;
    }
  }

  button,
  a {
    text-align: center;
    height: 100%;
    width: 100%;
    @include flex(center, center, 5px);
    flex-wrap: wrap;

    svg {
      font-size: 24px;
    }
  }
}

.dashboard-squares-main-holder {
  background: var(--trans);
  padding: 20px;
  @include cardBorder();
  margin-bottom: 20px;
}

.dashboard-squares-list {
  @include flex(space-between, center, 20px);
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.dashboard-square {
  min-width: 200px;
  flex: 1;
  background: var(--main);
  border-radius: var(--radius);

  @media (max-width: 275px) {
    min-width: unset;
  }

  > * {
    width: 100%;
    padding: 10px;
    color: #fff;

    .square-top {
      @include flex(null, center, 10px);

      .dashboard-square-title {
        font-size: 19px;
      }
    }

    strong:not(.dashboard-square-title) {
      margin-top: 10px;
      font-size: 30px;
      display: block;
      text-align: center;
    }
  }

  a {
    color: #fff;
    border-radius: var(--radius);

    &:hover {
      background: var(--dark);
    }
  }
}

.insights-list > * + * {
  margin-top: 50px;
}
