.home-slider {
  --height: calc(150px + 30vw);
  @media (max-width: 767px) {
    --height: calc(20vh + 20vw);
  }

  height: var(--height);
  max-height: var(--height);
  margin-bottom: 30px;

  .swiper-wrapper {
    height: calc(100% - 30px);
  }

  .swiper-pagination {
    margin-top: 5px;
    width: unset !important;
  }

  &.no-home-slider-imgs {
    user-select: none;
    padding: 20px;
    @include flex;
    background: var(--trans);
    color: var(--dark);
    font-weight: bold;
    font-size: calc(15px + 2vw);
    text-align: center;

    img {
      margin: auto;
      width: 300px;
      max-width: 100%;
      max-height: 100%;
      flex-shrink: 1;
      flex-grow: 0;
    }

    div {
      p {
        flex-grow: 1;

        @media (max-width: 241px) {
          display: none;
        }
      }

      .new-empty-spinner {
        margin-inline: auto;
      }
    }

    @media (max-width: 575px) {
      font-size: 16px;
      flex-direction: column;

      img {
        width: 130px;
      }

      div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .new-empty-spinner {
          margin: 0 auto 10px;
          padding: 15px !important;
        }
      }
    }
  }
}

// brands list

// brands list loading component
.home-page-brands-list-loading-holder {
  @include flex(center, center, 5px);
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;

  strong {
    color: var(--dark);
  }
}

.brands-list-wrapper {
  @include flex;
  gap: 10px;
  margin-bottom: 20px;
}

.home-page-brands-list {
  flex: 1;

  a {
    width: 100%;
    text-align: center;
    padding: 10px;
    background: var(--trans);
    border-radius: var(--radius);
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}

.home-page-bottom-banner {
  text-align: center;
  margin-top: 30px !important;
  padding: 80px 10px;
  background: radial-gradient(var(--trans), var(--dark-trans));
  display: flex;
  flex-direction: column;
  @include cardBorder;

  img {
    max-width: 100%;
    margin-inline: auto;
  }

  strong {
    font-size: calc(20px + 2.5vw);
    color: var(--dark);
    margin-bottom: 15px;
    display: block;
  }

  a {
    margin-inline: auto;
  }
}
