%Home-Page-Products-Slider-Styles {
  background: linear-gradient(to right, var(--trans), transparent);
  border-radius: 10px;
  box-shadow: inset -1px 0px 30px 10px #0756bd23;
}

.home-page-products-slider-loading {
  @include flex(center, center, 10px);
  @extend %Home-Page-Products-Slider-Styles;

  color: var(--dark);
  margin-block: 20px;
  padding: 20px;
}

.home-page-products-slider {
  @include flex(center, center, 10px, column);
  @extend %Home-Page-Products-Slider-Styles;

  + * {
    margin-top: 15px;
  }

  &-text-side {
    font: {
      weight: bold;
      size: 25px;
    }
    color: var(--dark);
    text-transform: capitalize;
    padding: 15px 10px;
    min-width: fit-content;
  }

  .swiper {
    padding-inline: 20px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    flex: 1;

    &-wrapper {
      padding: 18px 0 0;
    }
  }

  .product-card {
    height: 100%;
    background: #fff;

    .product-card-title {
      margin-top: unset !important;
    }
    .product-card-btns-holder {
      margin-top: auto;
      flex-direction: column;
      > * {
        width: 100%;
      }
    }
  }

  // explore more card => "final card"
  &-explore-more-card {
    height: auto;

    a {
      display: grid;
      place-content: center;
      width: 100%;
      height: 100%;
      border-radius: var(--radius);
      box-shadow: 2px 3px 11px 0 #6967675c;
      text-align: center;
      line-height: 25px;
      transition: 0.3s;
      background: #fff;
      font : {
        size: 20px;
        weight: bold;
      }

      &:hover {
        background: var(--dark);
        color: white;
      }

      .plus-icon {
        font-size: 30px;
      }
    }
  }
}
